.tithr{width:70%;border:3px solid MistyRose;border-radius:10px}
.divbig {
    border:RosyBrown dashed 3px;text-align:center;padding:10px;width:60%;
    background-color:Lavender;margin-top:10px;margin-bottom:30px;margin-left:auto;margin-right:auto}
.tabhr{width:90%;border:1px solid RosyBrown ;border-radius:10px}
.tr1{font-size:19px;font-weight:bold;text-align:center;}
.tr2{text-align:left}     